@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Norms Pro', sans-serif;
}

::-webkit-scrollbar {
    display: block;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: #dcdcdc;
}

::-webkit-scrollbar-track-piece:start {
    background: #dcdcdc;
}

/*| Header |*/
.top-bar {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #a1a1a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
}

.rog-icon svg {
    width: 30px;
    height: 30px;
}

.rog-icon path {
    fill: #a1a1a1;
}

.rog-icon svg:hover path {
    fill: #ff0000;
}

.links-editions {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 480;
}

.links-editions a:link,
.links-editions a:visited {
    text-decoration: none;
    color: #585858;
}

.links-editions a:hover {
    color: #111111;
    text-decoration: 2px solid underline #585858;
    text-underline-offset: 10px;

}

.navbar {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px calc(15% - 80px);
    background-color: #fff;
}

.open-menu {
    display: none;
}

.ham-menu {
    background-color: transparent;
    border: none;
}

.ham-menu svg {
    width: 27px;
    height: 27px;
}

/*NAV*/
.logo svg {
    width: 70px;
    height: 50px;
}

.logo path {
    fill: #747474;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.logo svg:hover path {
    fill: #0000ff;
}

/* Lists of links*/
.menu {
    font-size: 0.82rem;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

/* List containers*/
.nav-header,
.nav-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* First list and second list items*/
.nav-header .fl-item,
.nav-footer .sl-item {
    margin-left: 20px;
    list-style: none;
}

/* First and Second list items effects*/
.fl-item a:link,
.fl-item a:visited,
.sl-item a:link,
.sl-item a:visited {
    text-decoration: none;
    color: #585858;
    font-weight: 500;
    padding: 20px 0;
}

.fl-item a:hover,
.sl-item a:hover {
    color: #111111;
    text-decoration: 2px solid underline #585858;
    text-underline-offset: 18px;
    transition: ease-in 0.3s;
}

/* Second list icons*/
.second-list {
    display: flex;
    align-items: center;
}

.second-list .sl-item svg {
    width: 19px;
    height: 19px;
}

.second-list .sl-item a {
    margin-left: 10px;
    padding: 0;
}

/* Dropdown */
.dropdown {
    position: relative;
    width: 100%;

}

.dropdown-content {
    position: absolute;
    display: none;
    top: 35.5px;
    left: -590%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border: 1px solid #a1a1a1;
    z-index: 1;
    width: 97.96vw;
    height: 400px;
}

.dropdown:hover .dropdown-content,
.dropdown-content a {
    display: block;
    text-decoration: 2px solid underline #585858;
    text-underline-offset: 20px;

}

.cs-list-item a img {
    width: 20px;
}

.console-items a img {
    width: 100px;
}

/*Banner*/
.top-banner {
    width: 100%;
    height: 48px;
    background-color: #0000ca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-banner img {
    width: 42px;
    margin-right: 18px;
}

.top-banner a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.top-banner a:hover {
    text-decoration: 1px solid underline #fff;
}

/* Section store content*/
.sc-store-content {
    padding: 21px 0 0 calc(15% - 80px);
    box-shadow: 0px 2px 4px 0px rgba(103, 103, 103, 0.2);
    height: 180px;
}

.sc-store-content h2 {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.sc-store-content p {
    font-size: 1.2rem;
    text-decoration: 5px solid underline #161616;
    text-underline-offset: 18px;
}

/*SECTION PRODUCT CONTAINER*/
.sc-product {
    background-color: #eeeeee;
}

.p-container,
.layout-product {
    padding: 0 calc(15% - 80px);
    padding-bottom: 20px;
}

.p-header {
    display: flex;
    flex-direction: row-reverse;
}

.p-header .p-logo {
    width: 215px;
    margin-left: 20px;
    margin: 25px 0;
}

.p-filter {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.p-filter>p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.p-filter-drop {
    display: flex;
    gap: 20px;
    align-items: center;
}

.btn-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #a1a1a1;
    width: 190px;
    border-radius: 10px;
    height: 33px;
    margin: 0;
    color: #2929ff;
    font-weight: 500;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 1rem;
    padding: 0 14px;
}

.btn-filter:nth-child(2) {
    background-color: #2929ff;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border: none;
    width: 140px;
    display: none;
}

.btn-filter svg {
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
}

/* FILTER */
.filter-list {
    margin: 0;
    padding: 0;
}

.filter-list li {
    list-style: none;
}

.filter-list .f-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #a1a1a1;
}

.f-item:first-child {
    border-top: 1px solid #a1a1a1;
}

.filter-list .f-item button {
    background-color: transparent;
    border: none;
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 1rem;
    padding: 13px 0;
    cursor: pointer;

}

/*Layout Product*/
.layout-product {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 270px 1fr;
}

/* Product List Card*/
.pl-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.pl-card {
    background-color: #fbfbfb;
    box-shadow: 0px 2px 4px 0px rgba(103, 103, 103, 0.2);
    border-radius: 10px;
    padding: 30px 17px 5px 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
}

.pl-card .card-header {
    font-size: 0.75rem;
}

.card-header span {
    border: 1px solid #a1a1a1;
    border-radius: 2px;
    padding: 3px 10px;
}

.card-header span:last-child {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.pl-card a img {
    width: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.pl-card a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-name {
    border-bottom: 1px solid #d2d2d2;
}

.card-name p {
    margin: 0;
    padding: 0;
}

.card-name a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
}

.card-name h3 {
    margin: 0;
    padding: 5px 0 12px 0;
}

.warn-container {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.warn-container p {
    margin: 0;
    padding: 0;
}

.card-description {
    border-bottom: 1px solid #d2d2d2;
}

.card-description .price {
    margin: 0;
    padding: 12px 0;
    font-size: 1.2rem;
    color: #ff0000;
    font-weight: 500;
}

.discount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discount p {
    margin: 0;
    padding: 0;
    font-size: 0.78rem;
}

.discount p:last-child {
    color: #ff0000;
    font-weight: 500;
}

.discount+p {
    margin: 0;
    padding: 12px 0;
    font-size: 0.8rem;
}

/* CARD SPECIFICS */
.card-specs {
    font-size: 0.9rem;
}

.card-specs ul {
    padding: 0 0 0 20px;
}

.card-specs ul li {
    padding: 5px 0;
}

/*CARD FOOTER*/

/* Buttons container */
.btn-footer {
    border-bottom: 1px solid #d2d2d2;
    padding: 12px 0;
}

.card-footer button {
    background-color: #0000ff;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'TT Norms Pro', sans-serif;
    border: 1px solid #0000ff;
    cursor: pointer;
}

.card-footer button:hover {
    background-color: #ffffff;
    color: #0000ff;
    border: 1px solid #0000ff;
}

.card-footer button:nth-child(2):hover {
    background-color: #0000ff;
    color: #ffffff;
    border: 1px solid #0000ff;
}

.card-footer button:nth-child(2) {
    background-color: #ffffff;
    color: #0000ff;
    border: 1px solid #0000ff;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
}

@media screen and (min-with: 1024px) {
    .open-menu {
        display: none;
    }

    .first-list {
        display: flex;
    }

    .sl-item:nth-child(1),
    .sl-item:nth-child(2),
    .sl-item:nth-child(5) {
        display: flex;
    }

    .navbar {
        padding: 4px calc(15% - 80px);
    }

    .menu {
        font-size: 0.82rem;
    }

    .fl-item a:link,
    .fl-item a:visited,
    .sl-item a:link,
    .sl-item a:visited {
        padding: 20px 0;
    }

    .second-list .sl-item svg {
        width: 19px;
        height: 19px;
    }

    .dropdown-content {
        top: 35.5px;
        left: -590%;
        width: 97.96vw;
        height: 400px;
    }
}

@media screen and (max-width: 1024px) {
    .top-bar {
        display: none;
    }

    .first-list {
        display: none;
    }

    .sl-item:nth-child(1),
    .sl-item:nth-child(2),
    .sl-item:nth-child(5) {
        display: none;
    }

    .open-menu {
        display: block;
    }

    .navbar {
        padding: 4px calc(12% - 90px);
    }

    .menu {
        font-size: 0.8rem;
    }

    .fl-item a:link,
    .fl-item a:visited,
    .sl-item a:link,
    .sl-item a:visited {
        padding: 15px 0;
    }

    .second-list .sl-item svg {
        width: 17px;
        height: 17px;
    }

    .dropdown-content {
        top: 35.5px;
        left: -590%;
        width: 97.96vw;
        height: 400px;
    }
}

@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

}

/* TABLET RESPONDIVE */
@media only screen and (max-width: 1300px) {

    body {
        font-size: 14px;
    }

    .navbar {
        padding: 0 12px;
        justify-content: space-between;
        height: 50px;
    }

    .sl-item:nth-child(3),
    .sl-item:nth-child(3) a {
        padding: 0;
        margin: 0;
    }

    .sl-item:nth-child(4) {
        padding: 0 0 0 24px;
        margin: 0;
    }

    .sl-item:nth-child(4) a {
        padding: 0;
        margin: 0;
    }

    .ham-menu {
        padding: 0;
    }

    .ham-menu svg {
        width: 20px;
        height: 20px;
    }

    .top-banner {
        height: 60px;
    }

    .product-list {
        width: 100%;
        max-width: 98%;
        padding-bottom: 32px;
    }

    .sc-product {
        padding: 20px 16px;
    }
    
    .filter-bar {
        min-width: 150px;
    }
    /* Cards */
    .pl-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;
    }

    .pl-card {
        width: 90%;
    }


    .sc-store-content {
        height: 132px;
        margin: 0;
        padding: 0 10px;
    }

    .sc-store-content .sc-store-header {
        font-size: 1.9rem;
        padding: 0 10px;

    }

    .p-filter-drop p {
        margin: 0;
        padding: 4px 0;
    }

    .btn-filter:nth-child(2) p {
        margin: 0;
    }

    .layout-product {
        grid-template-columns: calc(45% - 100px) 1fr;
        padding-bottom: 48px;
    }

    .num-pages {
        text-align: center;
    }

    /*Footer*/
    footer {
        padding: 20px 16px;
        background-color: #eeeeee;
    }

    .empty-container {
        border-bottom: 1px solid #a1a1a1;
    }

    .info-container {
        border-top: 1px solid #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
        padding: 20px 0;
        margin-top: 20px;
    }

    .info-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .info-list .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
    }

    .info-text h3 {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
    }

    .info-text p:first-child {
        margin: 0;
        padding: 5px 0;
        font-size: 1rem;
        font-weight: 500;
    }

    .info-text p:last-child {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: #585858;
    }


    /* SHOP LINK   */
    .shop-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        border-bottom: 1px solid #a1a1a1;
    }

    .shop-link a svg {
        width: 60px;
        height: 60px;
    }

    .shop-link a svg path {
        fill: #7e7e7e;
    }

    .shop-link a:hover svg path {
        fill: #0000ff;
    }

    .shop-link svg {
        width: 15px;
        height: 15px;
    }

    .shop-link a {
        font-size: 0.8rem;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #585858;
    }

    .shop-link a:hover {
        text-decoration: 2px solid underline #585858;
    }

    /* ACCORDION */
    .q-accordion {
        border-bottom: 1px solid #a1a1a1;
    }

    .q-accordion:first-child ul li h4 {
        padding: 0;
        margin: 4px 0;
        color: #585858;
    }

    .btn-accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 100%;
        font-family: 'TT Norms Pro', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;
        color: #383838;
    }

    .btn-accordion p {
        margin: 0;
        padding: 10px 0;
    }

    .panel {
        display: none;
        overflow: hidden;
        padding-bottom: 12px;
    }

    .panel ul {
        list-style: none;
        padding: 0 9px;
        margin: 0;
    }

    .panel ul li {
        padding: 3px 10px;

    }

    .panel ul li a {
        text-decoration: none;
        color: #585858;
        font-size: 0.9rem;
    }

    .panel ul li ul li a {
        text-decoration: none;
        color: #585858;
        font-size: 0.9rem;
        padding: 5px 0;
    }

    .panel ul li ul li a:hover {
        text-decoration: 2px solid underline #585858;
    }

    .btn-accordion svg {
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
        margin-right: 10px;

    }

    /* SOCIAL MEDIA ICONS */
    .social-media {
        border-bottom: 1px solid #a1a1a1;
    }

    .social-container {
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }

    .social-container ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .social-container ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }

    .social-container ul li a {
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    .social-container ul li a svg {
        width: 30px;
        height: 30px;
        background-color: #777777;
        border-radius: 50%;
        padding: 7px;
    }

    .social-container ul li a svg:hover {
        background-color: #626262;
    }

    /* FOOTER INFO OWNER */
    .owner {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .owner .choose-lang {
        margin: 10px 0 5px 0;
    }

    .owner .choose-lang a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #1f1f1f;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
    }

    .owner .choose-lang svg {
        width: 15px;
        height: 15px;
    }

    .owner .info-owner {
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .owner .info-owner p {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: #585858;
    }

    .owner .info-owner .terms-policies {
        display: flex;
        gap: 10px;
        margin: 4px 0;
    }

    .info-owner .terms-policies a {
        text-decoration: none;
        color: #585858;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .info-owner .terms-policies a:hover {
        text-decoration: 2px solid underline #585858;
    }

    .info-owner .terms-policies a:first-child {
        border-right: 1px solid #585858;
        padding-right: 12px;
    }
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {

    body {
        font-size: 14px;
    }

    .navbar {
        padding: 0 12px;
        justify-content: space-between;
        height: 50px;
    }

    .sl-item:nth-child(3),
    .sl-item:nth-child(3) a {
        padding: 0;
        margin: 0;
    }

    .sl-item:nth-child(4) {
        padding: 0 0 0 24px;
        margin: 0;
    }

    .sl-item:nth-child(4) a {
        padding: 0;
        margin: 0;
    }

    .ham-menu {
        padding: 0;
    }

    .ham-menu svg {
        width: 20px;
        height: 20px;
    }

    .top-banner {
        height: 60px;
    }

    .product-list {
        padding-bottom: 32px;
    }

    .sc-product {
        padding: 20px 16px;
    }

    .sc-product .p-header {
        display: none;
    }

    .filter-bar {
        display: none;
    }

    .sc-store-content {
        height: 132px;
        margin: 0;
        padding-top: 15px;
    }

    .sc-store-content .sc-store-header {
        font-size: 1.9rem;
        padding: 0 18px;

    }

    .sc-store-bar {
        display: none;
    }

    .p-filter {
        align-items: flex-start;
        flex-direction: column-reverse;
    }

    .p-filter-drop {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .p-filter-drop p {
        margin: 0;
        padding: 4px 0;
    }

    .filter-btn-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .btn-filter:nth-child(2) {
        display: block;
    }

    .btn-filter:nth-child(2) p {
        margin: 0;
    }
    .pl-cards-container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .pl-card {
        width: 92%;
    }

    .layout-product {
        grid-template-columns: 1fr;
        padding-bottom: 48px;
    }

    .num-pages {
        text-align: center;
    }

    /*Footer*/
    footer {
        padding: 20px 16px;
        background-color: #eeeeee;
    }

    .empty-container {
        border-bottom: 1px solid #a1a1a1;
    }

    .info-container {
        border-top: 1px solid #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
        padding: 20px 0;
        margin-top: 20px;
    }

    .info-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .info-list .info-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px 0;
    }

    .info-text h3 {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
    }

    .info-text p:first-child {
        margin: 0;
        padding: 5px 0;
        font-size: 1rem;
        font-weight: 500;
    }

    .info-text p:last-child {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: #585858;
    }


    /* SHOP LINK   */
    .shop-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        border-bottom: 1px solid #a1a1a1;
    }

    .shop-link a svg {
        width: 60px;
        height: 60px;
    }

    .shop-link a svg path {
        fill: #7e7e7e;
    }

    .shop-link a:hover svg path {
        fill: #0000ff;
    }

    .shop-link svg {
        width: 15px;
        height: 15px;
    }

    .shop-link a {
        font-size: 0.8rem;
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #585858;
    }

    .shop-link a:hover {
        text-decoration: 2px solid underline #585858;
    }

    /* ACCORDION */
    .q-accordion {
        border-bottom: 1px solid #a1a1a1;
    }

    .q-accordion:first-child ul li h4 {
        padding: 0;
        margin: 4px 0;
        color: #585858;
    }

    .btn-accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 100%;
        font-family: 'TT Norms Pro', sans-serif;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;
        color: #383838;
    }

    .btn-accordion p {
        margin: 0;
        padding: 10px 0;
    }

    .panel {
        display: none;
        overflow: hidden;
        padding-bottom: 12px;
    }

    .panel ul {
        list-style: none;
        padding: 0 9px;
        margin: 0;
    }

    .panel ul li {
        padding: 3px 10px;

    }

    .panel ul li a {
        text-decoration: none;
        color: #585858;
        font-size: 0.9rem;
    }

    .panel ul li ul li a {
        text-decoration: none;
        color: #585858;
        font-size: 0.9rem;
        padding: 5px 0;
    }

    .panel ul li ul li a:hover {
        text-decoration: 2px solid underline #585858;
    }

    .btn-accordion svg {
        width: 15px;
        height: 15px;
        transform: rotate(90deg);
        margin-right: 10px;

    }

    /* SOCIAL MEDIA ICONS */
    .social-media {
        border-bottom: 1px solid #a1a1a1;
    }

    .social-container {
        display: flex;
        justify-content: center;
        padding: 25px 0;
    }

    .social-container ul {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .social-container ul li {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
    }

    .social-container ul li a {
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    .social-container ul li a svg {
        width: 30px;
        height: 30px;
        background-color: #777777;
        border-radius: 50%;
        padding: 7px;
    }

    .social-container ul li a svg:hover {
        background-color: #626262;
    }

    /* FOOTER INFO OWNER */
    .owner {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .owner .choose-lang {
        margin: 10px 0 5px 0;
    }

    .owner .choose-lang a {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #1f1f1f;
        font-size: 0.8rem;
        margin: 0;
        padding: 0;
    }

    .owner .choose-lang svg {
        width: 15px;
        height: 15px;
    }

    .owner .info-owner {
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .owner .info-owner p {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
        color: #585858;
    }

    .owner .info-owner .terms-policies {
        display: flex;
        gap: 10px;
        margin: 4px 0;
    }

    .info-owner .terms-policies a {
        text-decoration: none;
        color: #585858;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .info-owner .terms-policies a:hover {
        text-decoration: 2px solid underline #585858;
    }

    .info-owner .terms-policies a:first-child {
        border-right: 1px solid #585858;
        padding-right: 12px;
    }
}